div{
    margin: 20px;
}

table {
    width: 100%;
    background-color: rgb(94, 91, 86);
    color: black;
  }

th.mat-header-cell{
    background-color: rgb(1, 31, 28);
} 
th.mat-sort-header-sorted {
  color: white;
}
  